
@import 'utils/_tailwind.css';
@import 'utils/_accessibility.css';

/* purgecss start ignore */
html{
	scroll-behavior: smooth;
}
[x-cloak] {
	display: none !important;
}


.link-underline:hover{
	text-decoration-line: underline;
	
	text-decoration-color: #FFCB13 ;
}
/*Background image*/
.cover-bg{
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../static/640.jpg);
	height: 80vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.cover-bg{
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../static/640.webp);
	height: 80vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;

}

@media (max-width: 640px) { 
	.cover-bg{
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../static/640.jpg);
		height: 80vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
	
	}
	
	.cover-bg{
		background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../static/640.webp);
		height: 80vh; 
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
	}
}

@media (min-width: 641px) and (max-width: 768px) { 
	.cover-bg{
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../static/768.jpg);
		height: 80vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
		
	}
	
	.cover-bg{
		background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../static/768.webp);
		height: 80vh; 
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
	}
}

@media (min-width: 769px) and (max-width: 1024px) { 
	.cover-bg{
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../static/1024.jpg);
		height: 80vh; 
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
	}
	
	.cover-bg{
		background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../static/1024.webp);
		height: 80vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
	}
}

@media (min-width: 1025px) and (max-width: 1280px) { 
	.cover-bg{
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../static/1280.jpg);
		height: 80vh; 
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
		
	}
	
	.cover-bg{
		background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../static/1280.webp);
		height: 80vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
	}
}



@media (min-width: 1280px) { 
	.cover-bg{
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../static/1920.jpg);
		height: 80vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
	}
	
	.cover-bg{
		background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../static/1920.webp);
		height: 80vh; 
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
	}
}


/* purgecss end ignore */