
@import 'utils/_tailwind.css';
@import 'utils/_accessibility.css';

/* purgecss start ignore */

.cover-bg{
	background-image: url(../../static/Baterias-gesell-cover.jpg);
	background-size: cover;
}

.cover-bg{
	background-image: url(../../static/Baterias-gesell-cover.webp);

}

/* purgecss end ignore */