---
layout: base.njk
title: Baterias Gesell
---
<!-- Load Facebook SDK for JavaScript -->

      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v8.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_ES/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="101191381799937"
  theme_color="#0A7CFF"
  logged_in_greeting="Hola! ¿Como podemos ayudarte?"
  logged_out_greeting="Hola! ¿Como podemos ayudarte?">
      </div>

 











<!--Navigation-->
    <header class="border-b-4 border-red-gesell">
        <div class="container mx-auto flex flex-row justify-between items-strech" x-data="{isOpen : false}">
            <a href="#" alt="Pagina principal" class="bg-yellow-gesell p-2">
                <img src="/static/icon.svg" width="120px" alt="Logo Baterias Gesell">
            </a>
            <nav class="hidden md:flex items-center font-exo font-extrabold italic text-dark-gesell text-xl">
                <a class="px-6 link-underline" href="#servicios">Servicios</a>
                <a class="px-6 link-underline" href="#baterias">Baterías</a>
                <a class="px-6 link-underline" href="#nosotros">Nosotros</a>
                <a class="px-6 link-underline" href="#contacto">Contacto</a>
            
            </nav>
            <button @click="isOpen = true" type="button"  class="px-4 hover:bg-yellow-200 flex justify-center items-center md:hidden">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M31.5 27H12V24H31.5V27ZM31.5 19.5H16.5V16.5H31.5V19.5ZM31.5 9V12H12V9H31.5Z" fill="#27153E"/>
                </svg>
            </button>

            <!--Mobile navigation-->
            <div class="z-40 absolute top-0 inset-x-0 p-2 transition transform origin-top-right lg:hidden" x-show="isOpen" x-cloak>
                <div class="rounded-lg shadow-md">
                    <div class="rounded-lg bg-white shadow-xs overflow-hidden" role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
                        <div class="px-5 pt-4 flex items-center justify-between">
                            <div class="bg-yellow-gesell p-2">
                                <img class="h-12 w-auto" src="/static/icon.svg" alt="Logo Baterias Gesell">
                            </div>
                            <div class="-mr-2">
                                <button @click="isOpen = false" @click.away="isOpen = false" type="button" class="inline-flex items-center justify-center p-2 rounded-full text-dark-gesell hover:bg-yellow-300 focus:outline-none focus:bg-yellow-300 transition duration-150 ease-in-out" aria-label="Close menu">
                                    <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <nav class="px-2 pt-2 pb-3">

                            <a href="#servicios" class="hover:bg-yellow-300 font-exo text-center block px-3 py-2 rounded-md text-lg md:text-xl font-extrabold  italic text-dark-gesell transition duration-150 ease-in-out">Servicios</a>
                    
                            <a href="#baterias" class="hover:bg-yellow-300 text-center block px-3 py-2 rounded-md text-lg md:text-xl font-exo font-extrabold italic text-dark-gesell transition duration-150 ease-in-out">Baterías</a>
                    
                            <a href="#nosotros" class="hover:bg-yellow-300 text-center block px-3 py-2 rounded-md text-lg md:text-xl font-exo font-extrabold italic text-dark-gesell transition duration-150 ease-in-out">Nosotros</a>
                            <a href="#contacto" class="hover:bg-yellow-300 text-center block px-3 py-2 rounded-md text-lg md:text-xl font-exo  font-extrabold italic text-dark-gesell transition duration-150 ease-in-out">Contacto</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>






<main id="main">
<!--Main banner-->
    <div class="cover-bg">
        <div class="container grid grid-cols-5 place-content-center mx-auto h-full">
            <div class=" col-span-5 md:col-span-3 mx-4 md:mx-0">
                <h1 class="text-center md:text-left text-white text-4xl md:text-6xl font-exo font-extrabold italic antialiased uppercase leading-8 md:leading-none">Baterías confiables y de alta calidad</h1>
                <p class="text-center text-white text-lg font-body md:text-2xl md:text-left mt-4 leading-6 md:leading-9 mb-6 md:mb-10">Fabricacion, instalación y mantenimeinto de baterías con garantía de 12 meses</p>
                <a href="#contacto" class="bg-yellow-gesell px-8 py-3 font-exo font-extrabold italic text-dark-gesell md:text-xl mx-auto w-48 md:ml-0 text-center block">Contacto</a>
            </div>
        </div>
    </div>
    <div class="pt-6">
    <svg class="animate-bounce w-6 h-6 text-dark-gesell mx-auto" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
        <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
    </svg>  
    </div>   



<!--Servcios-->
    <section id="servicios" class="py-20">
        <div class="container mx-auto">
            <h2 class="font-exo text-dark-gesell text-5xl md:text-6xl font-extrabold italic mx-4 mb-12 sm:text-center">Servicios</h2>
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mt-8">
                <div class="flex flex-row mx-4 mb-8 sm:flex-col sm:flex-grow-0">
                    <img src="/static/Baterias.svg" alt="ilustracion de baterias">
                    <div class="ml-4 sm:ml-0 md:mt-6">
                        <h3 class="font-exo font-extrabold italic text-xl text-dark-gesell sm:text-center sm:text-2xl">Baterías</h3>
                        <p class=" font-body text-dark-gesell text-sm sm:text-center sm:text-base">Fabricación e instalación de baterías reforzadas con 12 meses de garantía</p>
                    </div>
                </div>
                <div class="flex flex-row mx-4 mb-8 sm:flex-col sm:flex-grow-0">
                    <img src="/static/Reparacion.svg" alt="ilustracion de baterias">
                    <div class="ml-4 sm:ml-0 md:mt-6">
                        <h3 class="font-exo font-extrabold italic text-xl text-dark-gesell sm:text-center sm:text-2xl">Reparación</h3>
                        <p class=" font-body text-dark-gesell text-sm sm:text-center sm:text-base">Reparación de bornes y roturas superficiales</p>
                    </div>
                </div>
                <div class="flex flex-row mx-4 mb-8 sm:flex-col sm:flex-grow-0">
                    <img src="/static/Revision.svg" alt="ilustracion de baterias">
                    <div class="ml-4 sm:ml-0 md:mt-6">
                        <h3 class="font-exo font-extrabold italic text-xl text-dark-gesell sm:text-center sm:text-2xl">Mantenimiento</h3>
                        <p class=" font-body text-dark-gesell text-sm sm:text-center sm:text-base">Mantenimiento y control del sistema eléctrico <strong>sin cargo</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--Baterias-->
    <section id="baterias" class="py-20 bg-light-gesell">
        <div class="container mx-auto">
             <h2 class="font-exo text-dark-gesell text-5xl md:text-6xl font-extrabold italic mx-4 mb-6">Baterias</h2>
             <div class="grid grid-cols-1 gap-3 sm:gap-4 sm:grid-cols-2 lg:grid-cols-3 lg:gap-5 mx-4">
                <div class="shadow">
                    <picture>
                        <source srcset="/static/mobile/12voltsx35amp.webp" type="image/webp">
                        <source srcset="/static/mobile/12voltsx35amp.jpg" type="image/jpg"> 
                        <img src="/static/mobile/12voltsx35amp.jpg" alt="12 volts x 35 amp">
                    </picture>
                    <div class="p-4">
                        <h3 class="font-exo text-dark-gesell font-extrabold italic text-base sm:text-lg ">Batería 12 volts x 35 amp</h3>
                        <p class="font-body text-sm text-gray-700 sm:text-base ">Bajo mantenimiento reforzada</p>
                    </div>
                
                </div>
                <div class="shadow rounded-md">
                    <picture>
                        <source srcset="/static/mobile/12voltsx45amp.webp" type="image/webp">
                        <source srcset="/static/mobile/12voltsx45amp.jpg" type="image/jpg"> 
                        <img src="/static/mobile/12voltsx45amp.jpg" alt="12 volts x 45 amp">
                    </picture>
                     <div class="p-4">
                        <h3 class="font-exo text-dark-gesell font-extrabold italic text-base sm:text-lg ">Batería 12 volts x 45 amp</h3>
                        <p class="font-body text-sm text-gray-700 sm:text-base ">Bajo mantenimiento reforzada</p>
                    </div>
                </div>
                <div class="shadow rounded-md">
                    <picture>
                        <source srcset="/static/mobile/12voltsx55amp.webp" type="image/webp">
                        <source srcset="/static/mobile/12voltsx55amp.jpg" type="image/jpg"> 
                        <img src="/static/mobile/12voltsx55amp.jpg" alt="12 volts x 55 amp">
                    </picture>
                     <div class="p-4">
                        <h3 class="font-exo text-dark-gesell font-extrabold italic text-base sm:text-lg ">Batería Nautica 12 volts x 55 amp</h3>
                        <p class="font-body text-sm text-gray-700 sm:text-base ">Sin mantenimiento reforzada</p>
                    </div>
                </div>
                <div class="shadow rounded-md">
                    <picture>
                        <source srcset="/static/mobile/12voltsx70amp.webp" type="image/webp">
                        <source srcset="/static/mobile/12voltsx70amp.jpg" type="image/jpg"> 
                        <img src="/static/mobile/12voltsx70amp.jpg" alt="12 volts x 70 amp">
                    </picture>
                     <div class="p-4">
                        <h3 class="font-exo text-dark-gesell font-extrabold italic text-base sm:text-lg ">Batería Nautica 12 volts x 70 amp</h3>
                        <p class="font-body text-sm text-gray-700 sm:text-base ">Sin mantenimiento reforzada</p>
                    </div>
                </div>
                <div class="shadow rounded-md">
                    <picture>
                        <source srcset="/static/mobile/12voltsx70amp-bajo-mantenimiento.webp" type="image/webp">
                        <source srcset="/static/mobile/12voltsx70amp-bajo-mantenimiento.jpg" type="image/jpg"> 
                        <img src="/static/mobile/12voltsx70amp-bajo-mantenimiento.jpg" alt="12 volts x 70 amp">
                    </picture>
                     <div class="p-4">
                        <h3 class="font-exo text-dark-gesell font-extrabold italic text-base sm:text-lg ">Batería 12 volts x 70 amp</h3>
                        <p class="font-body text-sm text-gray-700 sm:text-base ">Bajo mantenimiento reforzada</p>
                    </div>
                </div>
                <div class="shadow rounded-md">
                    <picture>
                        <source srcset="/static/mobile/12voltsx75amp(gnc).webp" type="image/webp">
                        <source srcset="/static/mobile/12voltsx75amp(gnc).jpg" type="image/jpg"> 
                        <img src="/static/mobile/12voltsx75amp(gnc).jpg" alt="12 volts x 75 amp (GNC)">
                    </picture>
                     <div class="p-4">
                        <h3 class="font-exo text-dark-gesell font-extrabold italic text-base sm:text-lg ">Batería GNC 12 volts x 75 amp</h3>
                        <p class="font-body text-sm text-gray-700 sm:text-base ">Bajo mantenimiento reforzada</p>
                    </div>
                </div>
                <div class="shadow rounded-md">
                    <picture>
                        <source srcset="/static/mobile/12voltsx75amp(gasolero).webp" type="image/webp">
                        <source srcset="/static/mobile/12voltsx75amp(gasolero).jpg" type="image/jpg"> 
                        <img src="/static/mobile/12voltsx75amp(gasolero).jpg" alt="12 volts x 75 amp (Gasolero)">
                    </picture>
                     <div class="p-4">
                        <h3 class="font-exo text-dark-gesell font-extrabold italic text-base sm:text-lg ">Batería Gasolero 12 volts x 75 amp</h3>
                        <p class="font-body text-sm text-gray-700 sm:text-base ">Bajo mantenimiento reforzada</p>
                    </div>
                </div>
                <div class="shadow rounded-md">
                    <picture>
                        <source srcset="/static/mobile/12voltsx80amp(nautica).webp" type="image/webp">
                        <source srcset="/static/mobile/12voltsx80amp(nautica).jpg" type="image/jpg"> 
                        <img src="/static/mobile/12voltsx80amp(nautica).jpg" alt="12 volts x 80 amp (Nautica)">
                    </picture>
                     <div class="p-4">
                        <h3 class="font-exo text-dark-gesell font-extrabold italic text-base sm:text-lg ">Batería Nautica 12 volts x 80 amp</h3>
                        <p class="font-body text-sm text-gray-700 sm:text-base ">Sin mantenimiento reforzada</p>
                    </div>
                </div>
                <div class="shadow rounded-md">
                    <picture>
                        <source srcset="/static/mobile/12voltsx90amp(4x4).webp" type="image/webp">
                        <source srcset="/static/mobile/12voltsx90amp(4x4).jpg" type="image/jpg"> 
                        <img src="/static/mobile/12voltsx90amp(4x4).jpg" alt="12 volts x 90 amp altas (4x4)">
                    </picture>
                     <div class="p-4">
                        <h3 class="font-exo text-dark-gesell font-extrabold italic text-base sm:text-lg ">Batería 4x4 "Alta" 12 volts x 90 amp</h3>
                        <p class="font-body text-sm text-gray-700 sm:text-base ">Bajo mantenimiento reforzada</p>
                    </div>
                </div>
                <div class="shadow rounded-md">
                    <picture>
                        <source srcset="/static/mobile/12voltsx90amp(bora).webp" type="image/webp">
                        <source srcset="/static/mobile/12voltsx90amp(bora).jpg" type="image/jpg"> 
                        <img src="/static/mobile/12voltsx90amp(bora).jpg" alt="12 volts x 90 amp(Bora)">
                    </picture>
                     <div class="p-4">
                        <h3 class="font-exo text-dark-gesell font-extrabold italic text-base sm:text-lg ">Batería Bora 12 volts x 90 amp</h3>
                        <p class="font-body text-sm text-gray-700 sm:text-base ">Bajo mantenimiento reforzada</p>
                    </div>
                </div>
                <div class="shadow rounded-md">
                    <picture>
                        <source srcset="/static/mobile/12voltsx110amp(Altas).webp" type="image/webp">
                        <source srcset="/static/mobile/12voltsx110amp(Altas).jpg" type="image/jpg"> 
                        <img src="/static/mobile/12voltsx110amp(Altas).jpg" alt="12 volts x 110 amp Altas">
                    </picture>
                     <div class="p-4">
                        <h3 class="font-exo text-dark-gesell font-extrabold italic text-base sm:text-lg ">Batería "Alta" 12 volts x 110 amp</h3>
                        <p class="font-body text-sm text-gray-700 sm:text-base ">Bajo mantenimiento reforzada</p>
                    </div>
                </div>
                <div class="shadow rounded-md">
                    <picture>
                        <source srcset="/static/mobile/12voltsx110amp.webp" type="image/webp">
                        <source srcset="/static/mobile/12voltsx110amp.jpg" type="image/jpg"> 
                        <img src="/static/mobile/12voltsx110amp.jpg" alt="12 volts x 110 amp Baja">
                    </picture>
                     <div class="p-4">
                        <h3 class="font-exo text-dark-gesell font-extrabold italic text-base sm:text-lg ">Batería "Baja" 12 volts x 110 amp </h3>
                        <p class="font-body text-sm text-gray-700 sm:text-base ">Bajo mantenimiento reforzada</p>
                    </div>
                </div>
                <div class="shadow rounded-md">
                    <picture>
                        <source srcset="/static/mobile/12voltsx180amp.webp" type="image/webp">
                        <source srcset="/static/mobile/12voltsx180amp.jpg" type="image/jpg"> 
                        <img src="/static/mobile/12voltsx180amp.jpg" alt="12 volts x 180 amp">
                    </picture>
                     <div class="p-4">
                        <h3 class="font-exo text-dark-gesell font-extrabold italic text-base sm:text-lg ">Batería 12 volts x 180 amp</h3>
                        <p class="font-body text-sm text-gray-700 sm:text-base ">Sin mantenimiento reforzada</p>
                    </div>
                </div>
                <div class="shadow rounded-md">
                    <picture>
                        <source srcset="/static/mobile/6voltsx180amp.webp" type="image/webp">
                        <source srcset="/static/mobile/6voltsx180amp.jpg" type="image./jpg"> 
                        <img src="/static/mobile/6voltsx180amp.jpg" alt="6 volts x 180 amp">
                    </picture>
                     <div class="p-4">
                        <h3 class="font-exo text-dark-gesell font-extrabold italic text-base sm:text-lg ">Batería 6 volts x 180 amp</h3>
                        <p class="font-body text-sm text-gray-700 sm:text-base ">Bajo mantenimiento reforzada</p>
                    </div>
                </div>
                <div class="shadow rounded-md">
                    <picture>
                        <source srcset="/static/mobile/6voltsx150amp.webp" type="image/webp">
                        <source srcset="/static/mobile/6voltsx150amp.jpg" type="image./jpg"> 
                        <img src="/static/mobile/6voltsx150amp.jpg" alt="6 volts x 150 amp">
                    </picture>
                     <div class="p-4">
                        <h3 class="font-exo text-dark-gesell font-extrabold italic text-base sm:text-lg">Batería 6 volts x 150 amp</h3>
                        <p class="font-body text-sm text-gray-700 sm:text-base ">Bajo mantenimiento reforzada</p>
                    </div>
                </div>
             </div>
        </div>
    
    
    </section>

<!--Nosotros-->
    <section id="nosotros" class="bg-dark-gesell py-20">
        <div class="container mx-auto">
            <div class="grid grid-cols-5 mx-4 gap-5">  
                <picture class="w-full col-span-5 md:col-span-2">
                <source srcset="/static/nosotros.webp" type="image/webp">
                <source srcset="/static/nosotros.jpg" type="image./jpg">
                <img  src="/static/nosotros.jpg" alt="Taller de baterias gessell">
                </picture>
                <div class="col-span-5 md:col-span-3 ml-0 md:ml-12">
                    <h2 class="font-exo text-white text-5xl md:text-6xl font-extrabold italic mb-6">Nosotros</h2>
                        <h3 class="font-exo uppercase font-extrabold italic text-xl text-gray-100 tracking-wide mb-2">Entra un cliente, sale un amigo.</h3>
                        <p class="font-body text-gray-200 text-lg">Somos una empresa familiar con más de 40 años de experiencia
                        exclusivamente en baterías. Al ser fabricantes ofrecemos la máxima calidad del mercado en instalación y mantenimiento con 12 meses de garantía. </p>
                    </div>
                </div>
        </div>
    </section>

<!--Contacto-->
    <section id="contacto" class="pt-20">
        <div class="container mx-auto">
            
        
        <div class="grid grid-cols-5 mx-4 gap-5 mb-16">
        <div class="col-span-5 md:col-span-2">
            <h2 class="font-exo text-dark-gesell text-5xl md:text-6xl font-extrabold italic mb-6">Contacto</h2>
            <p class="font-body text-lg mb-8">Dejanos un mensaje a traves de alguno de nuestros canales de comunicación y te responderemos a la brevedad.</p>
            <ul>
                <li class="p-2 text-dark-gesell hover:bg-yellow-100 rounded-sm hover:shadow">
                    <a class="flex flex-row items-center font-body text-lg" href="https://api.whatsapp.com/send/?phone=05491164907694&text&app_absent=0&lang=es">
                        <svg class="mr-4" width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-reactroot="">
                        <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1" stroke="#ca1515" fill="none" d="M19.2 4.8C17.47 3.07 15.08 2 12.45 2C9.82 2 7.42 3.07 5.7 4.8C3.97 6.53 2.9 8.92 2.9 11.56C2.9 13.65 3.58 15.59 4.72 17.16L2 22L8.7 20.32C9.01 20.45 9.33 20.58 9.65 20.68C10.54 20.96 11.47 21.1 12.45 21.1C15.09 21.1 17.48 20.03 19.21 18.3C20.94 16.57 22.01 14.19 22.01 11.56C22 8.92 20.93 6.53 19.2 4.8Z"></path>
                        <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1" stroke="#ca1515" fill="none" d="M9.30999 14.69C11.82 17.2 14.88 18.22 16.13 16.96L17.49 15.6L14.76 12.87L13.4 14.23L9.76999 10.59L11.13 9.23L8.39999 6.5L7.03999 7.86C5.77999 9.12 6.79999 12.18 9.30999 14.69Z"></path>
                        </svg>
                         11 6490-76940
                    </a>
                </li>
                <li class="p-2 text-dark-gesell hover:bg-yellow-100 rounded-sm hover:shadow">
                    <a class="flex flex-row items-center font-body text-lg" href="tel:011-4391-1008">
                        <svg class="mr-4" width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-reactroot="">
                        <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1" stroke="#ca1515" fill="none" d="M12 3V10H15V13L18 10H22V3H12Z"></path>
                        <path stroke-width="1" stroke="#ca1515" fill="none" d="M2.99069 7.91051L4.78963 6L8.08679 9.92875C8.36281 10.2576 8.4562 10.6897 8.33774 11.0897L7.91559 12.515L10.3427 15.407L11.588 15.0816C11.9967 14.9748 12.4367 15.1119 12.7028 15.429L16 19.3578L13.6086 20.5624C11.9127 21.4167 9.79506 20.9894 8.58623 19.5491L2.87485 12.7436C1.66602 11.3033 1.71486 9.26546 2.99069 7.91051Z"></path>
                        </svg>
                       11-4391-1008
                    </a>
                </li>
                <li class="p-2 text-dark-gesell hover:bg-yellow-100 rounded-sm hover:shadow">
                    <a class="flex flex-row items-center font-body text-lg" href="mailto:contacto@bateriasgesell.com.ar">
                        <svg class="mr-4" width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-reactroot="">
                        <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1" stroke="#ca1515" fill="none" d="M20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4H20C21.1 4 22 4.9 22 6V18C22 19.1 21.1 20 20 20Z"></path>
                        <path stroke-linecap="round" stroke-miterlimit="10" stroke-width="1" stroke="#ca1515" fill="none" d="M20 4H4C2.9 4 2 4.9 2 6L12 13L22 6C22 4.9 21.1 4 20 4Z"></path>
                        </svg>
                        contacto@bateriasgesell.com.ar
                    </a>
                </li>
                <li class="p-2 text-dark-gesell hover:bg-yellow-100 rounded-sm hover:shadow">
                    <a class="flex flex-row items-center font-body text-lg" href="https://www.google.com/maps/place/Bater%C3%ADas+Gesell/@-34.7960107,-58.2355161,15z/data=!4m5!3m4!1s0x0:0x86a23ee921743959!8m2!3d-34.7960107!4d-58.2355161">
                        <svg class="mr-4" width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-reactroot="">
                        <path fill="none" d="M17 13H20L22 22H13.89H10.11H2L4 13H7" undefined="1"></path>
                        <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1" stroke="#ca1515" d="M17 13H20L22 22H13.89H10.11H2L4 13H7"></path>
                        <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1" stroke="#ca1515" fill="none" d="M11.9999 2C9.75995 2 7.81995 3.39 8.00995 5.73C8.20995 8.16 9.30995 10.64 10.3299 12.83C10.8299 13.91 11.3699 14.98 11.9999 15.99C12.6199 14.97 13.1699 13.91 13.6699 12.83C14.6899 10.64 15.7899 8.15 15.9899 5.73C16.1799 3.39 14.2399 2 11.9999 2Z"></path>
                        <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1" stroke="#ca1515" fill="none" d="M12 6C12.2761 6 12.5 5.77614 12.5 5.5C12.5 5.22386 12.2761 5 12 5C11.7239 5 11.5 5.22386 11.5 5.5C11.5 5.77614 11.7239 6 12 6Z"></path>
                        </svg>
                        Calle 29A N°878, Berazategui Oeste.
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-span-5 md:col-span-3 mx-0 md:mx-8 mt-12">
            <form class="w-full" name="Formulario-contacto-bateriasGesell" method="POST" data-netlify="true" data-netlify-recaptcha="true" netlify-honeypot="bot-field">
                            <div class="flex flex-wrap -mx-3 mb-6">
                            <p class="hidden">
                            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
                                </p>
                                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                <label class=" font-exo block uppercase tracking-wide text-gray-700 text-xs font-extrabold italic mb-2" for="nombre">
                                    Nombre
                                </label>
                                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" name="Nombre" id="nombre" type="text" placeholder="Tu nombre" required>
                                </div>
                                <div class="w-full md:w-1/2 px-3">
                                <label class="font-exo block uppercase tracking-wide text-gray-700 text-xs font-extrabold italic mb-2" for="mail">
                                    email
                                </label>
                                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="Email" id="mail" type="email" placeholder="Correo electronico" required>
                                </div>
                            </div>
                            <div class="flex flex-wrap -mx-3 mb-6">
                                <div class="w-full px-3">
                                <label class="font-exo block font-extrabold italic uppercase tracking-wide text-gray-700 text-xs mb-2" for="mensaje">
                                    Mensaje
                                </label>
                                <textarea rows="5" name="Mensaje" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="mensaje" type="textarea" placeholder="Decinos como te podemos ayudar" required></textarea>
                                </div>
                            </div>
                            <div class="flex flex-wrap -mx-3 mb-6 px-3" data-netlify-recaptcha="true">
                            </div>
                            <button class="font-exo font-extrabold italic w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6  rounded-md text-dark-gesell bg-yellow-gesell hover:shadow-md focus:outline-none focus:border-red-gesell focus:shadow-outline-red-gesell transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10" type="submit">Enviar</button>
                            
                            </div>
                        </form>
        </div>
        
        
        </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.3948686107324!2d-58.23770478422002!3d-34.79600627520585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3291fd03b9f01%3A0x86a23ee921743959!2sBater%C3%ADas%20Gesell!5e0!3m2!1ses-419!2sar!4v1603916496864!5m2!1ses-419!2sar" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </section>
</main>

<!--Footer-->
<footer class="bg-dark-gesell h-40  grid content-center">
    <div  class="container text-center mx-auto">
    <img class="w-40 opacity-75 mx-auto mb-4" src="/static/logo-blanco.svg" alt="Logo Gesell">
        <p class="text-base font-body text-gray-500">Copyright 2020 - Baterías Gesell | Powered by <a class="text-gray-100 underline" href="https://www.comvo.com.ar">Comvo</a></p>
    </div>
</footer>